<html>
    <head>
        <title>Google</title
        <link rel="icon" href="/assets/notifbell.png">
    </head>
    <body>

      <div class="wrapper">

        <div>
        <div class="header">

          <div class="header_left">
            <div id="website_name">
              <h2>Le site de Quentin</h2>
            </div>
            <button class="navbar_button" href="">Page 1</button>
            <button class="navbar_button" href="">Page 2</button>
            <button class="navbar_button" href="">Page 3</button>
          </div>

          <div class="header_right">
            <a class="header_link" href="">Quentin</a>
            <img class="avatar" src="/assets/avatar.png"/>
          </div>

        </div>

        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Article')", id="defaultOpen">Article</button>
          <button class="tablinks" onclick="openCity(event, 'Author')">Author</button>
        </div>

        </div>

        <div class="mainblock">

          <!-- Tab links -->


          <div id="Article" class="tabcontent">
          <div id="title">
            <h1>Titre</h1>
          </div>
          <div class="main_content">
            <div class="content_image">
              <img id="img" src="/assets/program.png"/>
            </div>
            <div class=content_text>
              <p>Blablabla</p>
            </div>
          </div>
          </div>

          <div id="Author" class="tabcontent">
          <div>
            <div class="card">
              <img class=card_img src="/assets/avatar.png" alt="Avatar">
              <div class="card_container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
              </div>
            </div>
          </div>
          </div>

        </div>

        <div class="footer">

          <div class="first_row">
            <span class="France">France</span>
          </div>

          <div class="second_row">
            <div class="left">
              <div><a class="left_footer_link" href="https://ads.google.com/intl/fr_fr/home/">Advertising</a></div>
              <div><a class="left_footer_link" href="https://www.google.com/services/">Business</a></div>
              <div><a class="left_footer_link" href="https://www.google.fr/intl/fr_fr/about/">About</a></div>
            </div>
            <div class="right">
              <div><a class="right_footer_link" href="https://support.google.com/websearch/answer/7585859">Consumer Information</a></div>
              <div><a class="right_footer_link" href="https://policies.google.com/privacy/">Privacy</a></div>
              <div><a class="right_footer_link" href="https://policies.google.com/terms">Terms</a></div>
              <div><a class="right_footer_link" href="">Settings</a></div>
            </div>
          </div>

        </div>

      </div>

      <script>
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
      </script>

    </body>
</html>
